<div class="container">
        <div class="row">
                <div class="col-md-12">
                        <p class="heading">Try your voice</p>
                        <hr>
                        <div class="col-md-12">
                                <div class="form">
                                        <div class="col-md-12">
                                                <div class="form">
                                                        <i class="fa fa-search"></i>
                                                        <input type="text" class="form-control form-input"
                                                                placeholder="Speak anything...">
                                                        <span class="left-pan">
                                                                <i (click)="startService()"
                                                                        class="fa fa-microphone"></i>
                                                        </span>
                                                </div>
                                        </div>
                                </div>
                        </div>
                        <div style="margin-left: 20px; width: 100%;" class="text col-md-8">
                                <p>{{service.text}}</p>
                        </div>
                </div>
        </div>
</div>